/* schedule section */
/* .schedule .row {
    display: grid;
    grid-template-areas: 'col1 col2';
} */
* {
    border-radius: 0%;
    border: none;
}

.schedule .small-subtitile {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 122%;
    /* identical to box height, or 31px */


    color: #F7F7F7;
}


/* Gradients */

.gradient-h2-one {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 122%;
    /* or 43px */

    background: linear-gradient(90deg, #EC6B97 7.95%, #F7BB97 110.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-h2-two {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 122%;
    /* or 43px */

    background: linear-gradient(89.83deg, #1FA2FF 0.14%, #12D8FA 56.37%, #A6FFCB 113.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-h2-three {
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 122%;
    /* or 43px */


    background: linear-gradient(90deg, #F6C74F 7.95%, #4FF692 69.82%, #12C2E9 110.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradient-h2-four {
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 122%;
    /* or 43px */


    background: linear-gradient(90deg, #12C2E9 7.95%, #C471ED 59.16%, #F64F59 110.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradient-hero-cta {
    background: linear-gradient(89.83deg, #12C2E9 0.14%, #C471ED 56.37%, #F64F59 113.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer CSS */
.footer {
    background: #FFFFFF;
}

/* Change the text color to something readable */
.footer * {
    color: #000000
}

.footer .info-wrapper {
    display: flex;
    z-index: 1;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
}

.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: stretch;
    margin: 2rem auto 0rem auto;
}

.footer .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    justify-content: space-between;
}

.footer h3 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 200;
    font-weight: lighter;
    font-size: x-small;
    margin-bottom: 6vh;
}

/* bootstrap mods */
.sponsors .btn-outline-light {
    --mdb-btn-hover-color: rgb(115, 170, 64);
    --mdb-btn-hover-bg: linear-gradient(90deg, #FD005A 5.49%, #0066FF 99.3%);
    --mdb-btn-hover-border-color:  rgb(100, 148, 56);
}