<!-- Footer Section -->
<section class="footer">
    <div class=" info-wrapper text-center">
        <div class="footer-wrapper">
            <img src="images/frontera_hacks_footer_logo.svg" alt="The logo of the Frontera Devs UTRGV organization" class="footer-img">
            <div class="social-links">
                {% for social in site.social %}
                    {% include components/footerImgWrapper.html 
                        link = social.url
                        description = social.name
                        img = social.img
                    %}
                {% endfor %}
            </div>
        </div>
        <h3>&copy; 2024 {{ site.event.name }}. Made with ♡ by the Frontera Devs team</h3>
        <h3><a class="text-center" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a></h3>
    </div>
</section>