<!-- Floating mask over the text -->
<img id="floating" class="" src="/images/masks/Gradientheader.svg" alt="Frontera Devs Cyber Punk Core Buildings">
</img>

<!-- The hero container -->
<section class="hero fluid-container pb-sm-6 mb-sm-3 p-xs-5">
<!-- hero title and stars -->
  <div class="row align-items-center justify-content-center py-sm-5 mb-sm-5 p-xs-5">
    <!-- The title and text -->
    <div class="fh-logo col-lg-6 d-flex flex-column text-center align-items-sm-center align-items-lg-start text-lg-start">
      <span style="color: rgb(250 232 255);" class="text-wrap">October 19-20, 2024</span>
      <img class="py-4 align-self-center align-self-lg-start object-contain w-96" src="images/frontera_hacks_logo.png" alt="Frontera Hacks logo" id="logo">
<!--      <img class="max-width-full" src="images/frontera_hacks_logo.png" alt="Frontera Hacks logo" id="logo">-->
      <span id="text-wrap">{{ site.event.tagline }}</span>
    </div>
  </div>
<!-- call to action section -->
  <div class="call-to-action d-flex flex-column align-content-center align-items-center justify-content-center  my-lg-5 py-lg-5">
    <div class="d-flex flex-sm-row flex-column text-center">
      <h4 class="pe-2">Spark your curiosity at <h4 class="gradient-hero-cta">Frontera Hacks</h4></h4>
    </div>
    <span class="pt-2 align-self-center text-center w-50">
      The inaugural hackathon hosted by Frontera Devs to foster a community of developers like you, driven to innovate in the RGV.
    </span>
  </div>
</section>