<!-- section wrapper -->
<section class="sponsors pt-5 pb-5 mb-5" id="sponsors">
  <!-- floating gradient -->

  <div class="container sponsor-content">
    <div class="faq-terminal-bar">
      <span class="terminal-dot"></span>
      <span class="terminal-dot"></span>
      <span class="terminal-dot"></span>
      <span class="terminal-title"> // SPONSORS.exe</span>
    </div>

    <h1 class="sponsor-title"><span class="sponsor-neon"> OUR SPONSORS </span></h1>
    <div class="faq-scanline"></div>

    <p class="sponsor-subtitle">&gt; Frontera Hacks is made possible by our wonderful sponsors. </p>


    <!-- Sponsors Logos -->
    <div class="sponsor-grid">
       {% for sponsor in site.event.sponsors %}
       <div class="sponsor-card">
          <a href="{{sponsor.url}}" target="_blank" class="mask"> 
            <img 
              class="sponsor-logo"
              src="{{ sponsor.image }}"
              alt="{{ sponsor.name }}"
            />
          </a>
       </div>
      {% endfor %}
    </div>

    <!-- CTA -->
     <div class="sponsor-cta-block">
      <div class="sponsor-cta-terminal">
        <span class="boot-line"> &gt; Want to help make this event a reality? </soan>
      </div>
      <a
        href="mailto:fronteradevs@gmail.com?subject=We Are Interested In Becoming A Sponsor For Frontera Hacks"
        class="sponsor-cta-btn"
        id="sponsorship-button"> &gt; BECOME A SPONSOR</a>
     </div>
  </div>
</section>
